<div class="footer row">
  <div class="col-md-12">
    <div class="row upper-footer">
      <div class="text col-md-7 col-md-offset-1">
        <p>Get your free account now!</p>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a mat-list-item href="#"> Sign up </a>
      </div>
    </div>
    <div class="row lower-footer">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="row">
              <div class="col-md-12">
                <img src="assets/imgs/logo.svg" alt="">
              </div>
            </div>
            <div class="row footer-menu">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <a class="footer-menu-item" mat-list-item href="#"> Benefits </a>
                  </div>
                  <div class="col-md-6">
                    <a class="footer-menu-item" mat-list-item href="#"> Terms of Service </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="footer-menu-item" mat-list-item href="#"> Gamiphy </a>
                  </div>
                  <div class="col-md-6">
                    <a class="footer-menu-item find-us" mat-list-item href="#"> Find us on web </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="footer-menu-item" mat-list-item href="#"> How it works </a>
                  </div>
                  <div class="col-md-6">
                    <div class="row web">
                      <div class="col-md-12">
                        <a href="#">
                          <i class="web-item fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                          <i class="web-item fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                          <i class="web-item fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="footer-menu-item" mat-list-item href="#"> Contact us </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <a class="footer-menu-item" mat-list-item href="#"> Pricing </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <app-contact-us-section></app-contact-us-section>
        </div>
      </div>
    </div>
    <div class="row lower-footer">
      <div class="col-md-12">
        <p class="footer-text">© 2017 Gamiphy. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>