.icon-container {
    width: 95px;
    height: 85px;
    margin: 0 auto;
    i {
        border-radius: 4px;
        color: white;
        font-size: 30px;
        text-align: center;
        display: block;
        line-height: 85px;
    }
}