.gamiphy-element-container {
    padding-top: 82px;
    height: 317px;
    border-right: solid 1px #e8e8e8;
    .gamiphy-element-description {
        font-family: Gobold;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.41;
        letter-spacing: 2px;
        text-align: center;
        color: #72a3ed;
        padding-top: 39px;
        text-transform: uppercase;
    }
}
