.gamiphy-element-container {
    padding-top: 82px;
    height: 317px;
    border-right: solid 1px #e8e8e8;
    .gamiphy-element-description {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        color: #49515d;
        padding-top: 39px;
        text-transform: uppercase;
    }
}
