.how-it-works-section-container {
    background-color: #ffffff;
    padding-top: 3em;
    padding-bottom: 3em;
    .title {
        font-family: GoExtra1;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: left;
        color: #5f7086;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 1.5em;
        padding-top: 1em;
    }
    
    .elements {
        padding-left: 5em;
        .element {
            display: inline-block;
            float: left;
        }
        img {
            padding-top: 2.5em;
        }
    }
}