<div class="how-it-works-section-container row">
  <div class="col-md-12">
    <div class="title row">
      <div class="col-md-12">
        <p>How it works</p>
      </div>
    </div>
    <div class="elements row">
      <div class="col-md-12">
        <app-how-it-works-item
          class="element"
          [img]="'assets/imgs/design-1.svg'"
          [text]="'Provide content OR manually setup objectives'"></app-how-it-works-item>
        <img class="element" src="assets/imgs/line.svg" alt="">
        <app-how-it-works-item
          class="element"
          [img]="'assets/imgs/laptop.svg'"
          [text]="'«Gamiphy» will analyze data'"></app-how-it-works-item>
          <img class="element" src="assets/imgs/line.svg" alt="">
        <app-how-it-works-item
          class="element"
          [img]="'assets/imgs/group-15.svg'"
          [text]="'Get tailored Gamified content template'"></app-how-it-works-item>
          <img class="element" src="assets/imgs/line.svg" alt="">
        <app-how-it-works-item
          class="element"
          [img]="'assets/imgs/group-16.svg'"
          [text]="'Customize a bit further'"></app-how-it-works-item>
          <img class="element" src="assets/imgs/line.svg" alt="">
        <app-how-it-works-item
          class="element"
          [img]="'assets/imgs/page-1 how it works.svg'"
          [text]="'Launch Gamified content!'"></app-how-it-works-item>
      </div>
    </div>
  </div>
</div>