<div class="how-it-works-section-container row">
  <div class="col-md-12">
    <div class="title row">
      <div class="col-md-12">
        <p>How it works</p>
      </div>
    </div>
    <div class="elements row">
      <div class="col-md-12">
          <app-how-it-works-item
            class="element"
            [img]="'../../assets/imgs/design-1.svg'"
            [text]="'Provide your content   OR manually setup your objectives'"></app-how-it-works-item>
          <img class="element" src="../../assets/imgs/line.svg" alt="">
          <app-how-it-works-item
            class="element"
            [img]="'../../assets/imgs/design-1.svg'"
            [text]="'Provide your content   OR manually setup your objectives'"></app-how-it-works-item>
            <img class="element" src="../../assets/imgs/line.svg" alt="">
            <app-how-it-works-item
              class="element"
              [img]="'../../assets/imgs/design-1.svg'"
              [text]="'Provide your content   OR manually setup your objectives'"></app-how-it-works-item>
              <img class="element" src="../../assets/imgs/line.svg" alt="">
              <app-how-it-works-item
                class="element"
                [img]="'../../assets/imgs/design-1.svg'"
                [text]="'Provide your content   OR manually setup your objectives'"></app-how-it-works-item>
                <img class="element" src="../../assets/imgs/line.svg" alt="">
                <app-how-it-works-item
                  class="element"
                  [img]="'../../assets/imgs/design-1.svg'"
                  [text]="'Provide your content   OR manually setup your objectives'"></app-how-it-works-item>
      </div>
    </div>
  </div>
</div>