<div class="row gamiphy-section-container">
  <div class="col-md-12">
    <div class="gamiphy-section-label row">
      <div class="col-md-12">
        <p>Gamiphy</p>
      </div>
    </div>
    <div class="row gamiphy-sub-section-container">
      <div class="col-md-12">
        <app-gamiphy-sub-section
          [background-color]="'rgba(81, 127, 164, 100)'"
          [direction]="'ltr'"
          [img]="'assets/imgs/mackbook-air-mock-up.png'"
          [title]="'Easy to use gamification engine'"
          [text]="'An easy to use gamification platform. Easily gamify your website, mobile app, ad campaign, blog and articles'"></app-gamiphy-sub-section>
      </div>
    </div>
    <div class="row gamiphy-sub-section-container">
      <div class="col-md-12">
        <app-gamiphy-sub-section
          [background-color]="'rgba(75, 118, 153, 100)'"
          [direction]="'rtl'"
          [img]="'assets/imgs/widget-isometric-02.png'"
          [title]="'Lots of mini-games templates'"
          [text]="'Enrich your content using a wide variety of unique mini games & quizzes templates that are customizable. Quizzes and mini games are best used for creating brand awareness, driving traffic and show casing products. Your customers will gain points and earn rewards as they play.'"></app-gamiphy-sub-section>
      </div>
    </div>
    <div class="row gamiphy-sub-section-container">
      <div class="col-md-12">
        <app-gamiphy-sub-section
          [background-color]="'rgba(68, 110, 142, 100)'"
          [direction]="'ltr'"
          [img]="'assets/imgs/the-sceens-perspective-psd-mockup-by-tranmautritam.png'"
          [title]="'Smart artificial intelligence module'"
          [text]="'Utilize the power of Machine with our Artificial Intelligence Engine, which will help you match your existing content with templates and resources and best gamification techniques that will enrich your content.'"></app-gamiphy-sub-section>
      </div>
    </div>
  </div>
</div>