<div class="gamiphy-elements-container row">
  <div class="col-md-12">
    <div class="gamiphy-elements-description row">
      <div class="col-md-12">
        <div class="row title">
          <div class="col-md-12">
            <p>What is Gamification</p>
          </div>
        </div>
        <div class="row description">
          <div class="col-md-6 col-md-offset-3">
            <p>Gamification is the process of taking regular digital content – a website, an enterprise application, an online community or simply an Ad – and integrating game mechanics into it to motivate participation, engagement, and loyalty.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-card class="gamiphy-elements-card">
          <div class="gamiphy-card-elements row">
            <div class="col-md-4">
              <app-gamiphy-element
              class="gamiphy-card-element"
              [icon]="'../../assets/icons/search-1.svg'"
              [background-image]="'linear-gradient(232deg, #ffe29f, #ffa99f 48%, #ff719a)'"
              [description]="'Quests & Quizzes'"
              [font-color]="'#fb8d92'"></app-gamiphy-element>
            </div>
            <div class="col-md-4">
              <app-gamiphy-element
              class="gamiphy-card-element"
              [icon]="'../../assets/icons/page-1.svg'"
              [background-image]="'linear-gradient(52deg, #83cbed, #73efa1)'"
              [description]="'Mini Games'"
              [font-color]="'#6ecfca'"></app-gamiphy-element>
            </div>
            <div class="col-md-4">
              <app-gamiphy-element
              class="gamiphy-card-element no-border"
              [icon]="'../../assets/icons/board.svg'"
              [background-image]="'linear-gradient(232deg, #b2e4fb, #85b1fa)'"
              [description]="'Point, Badges and Leader boards'"
              [font-color]="'#72a3ed'"></app-gamiphy-element>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>