.gamiphy-elements-container {
    background-color: rgba(81,127,164,0.08); 
    padding-top: 3em !important;
    padding-bottom: 4em !important;
    align-content: center;
    .gamiphy-elements-card {
        margin: 0 auto;
        width: 940px;
        height: 317px;
        border-radius: 4px;
        background-color: #ffffff !important;
        box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04), 0 2px 3px 0 rgba(0, 0, 0, 0.05) !important;
    }
    .mat-card {
        padding: 0px !important;
    }
    .gamiphy-elements-description {
        .title {
            font-family: GoExtra1;
            font-size: 28px;
            font-weight: bold;
            letter-spacing: 5px;
            text-align: left;
            color: #5f7086;
            text-transform: uppercase;
            p {
                text-align: center;
            }
        }
        .description {
            padding-top: 1em;
            padding-bottom: 3.438em;
            opacity: 0.77;
            font-family: Roboto;
            font-size: 18px;
            line-height: 1.33;
            text-align: center;
            color: #6f85a4;
            p {
                text-align: center;
                width: 632px;
            }
        }
    }
}