<div class="row benefits-section-container">
  <div class="col-md-12">
    <div class="row title">
      <div class="col-md-12">
        <p>Benefits</p>
      </div>
    </div>
    <div class="row benefit-elements">
      <div class="col-md-2 col-md-offset-1">
        <div class="first-element row">
          <div class="col-md-1">
              <div class="dot"></div>
          </div>
          <div class="col-md-8">
            <app-gamiphy-benefit-element
              class="elem"
              [img-src]="'assets/imgs/group-11.svg'"
              [title]="'Engage'"
              [description]="'audience engagement'"></app-gamiphy-benefit-element>
          </div>
        </div>
      </div>
      <div class="shift-left col-md-2">
        <div class="col-md-1">
            <div class="dot"></div>
        </div>
        <div class="col-md-9">
          <app-gamiphy-benefit-element
            [img-src]="'assets/imgs/group-12.svg'"
            [title]="'Reach'"
            [description]="'more audience'"></app-gamiphy-benefit-element>
        </div>
      </div>
      <div class="shift-left col-md-2">
        <div class="col-md-1">
            <div class="dot"></div>
        </div>
        <div class="col-md-9">
          <app-gamiphy-benefit-element 
            [img-src]="'assets/imgs/group-14.svg'"
            [title]="'RETAIN'"
            [description]="'Earn user\'s loyalty'"></app-gamiphy-benefit-element>
        </div>
      </div>
      <div class="shift-left col-md-2">
        <div class="col-md-1">
            <div class="dot"></div>
        </div>
        <div class="col-md-9">
          <app-gamiphy-benefit-element
            [img-src]="'assets/imgs/group-17.svg'"
            [title]="'Analyze'"
            [description]="'audience behavior'"></app-gamiphy-benefit-element>
        </div>
      </div>
      <div class="shift-left col-md-2">
        <div class="col-md-1">
            <div class="dot"></div>
        </div>
        <div class="col-md-9">
          <app-gamiphy-benefit-element
            [img-src]="'assets/imgs/oval-copy-10.svg'"
            [title]="'CONVERT'"
            [description]="'traffic into users'"></app-gamiphy-benefit-element>
        </div>
      </div>
      <div class="col-md-1">
        <div class="last-dot dot"></div>
      </div>
    </div>
  </div>
</div>