.benefits-section-container {
    background-color: #ffffff;
    padding-top: 5em;
    padding-bottom: 5em;
    .title {
        padding-bottom: 2em;
        font-family: GoExtra1;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 5px;
        text-align: left;
        color: #5f7086;
        text-transform: uppercase;
        p {
            text-align: center;
        }
    }
    .benefit-elements {
        .dot {
            margin-top: 4em;
            width: 14px;
            height: 14px;
            background-color: #efefef;
            border-radius: 10px;
            margin-left: -1.1em;
        }
        .last-dot {
            margin-left: 0em !important;
        }
    }
}