<div class="row benefits-section-container">
  <div class="col-md-12">
    <div class="row title">
      <div class="col-md-12">
        <p>Benefits</p>
      </div>
    </div>
    <div class="row benefit-elements">
      <div class="col-md-2 col-md-offset-2">
        <app-gamiphy-benefit-element
          [img-src]="'../../assets/imgs/group-11.svg'"
          [title]="'Increase'"
          [description]="'your audience engagement'"></app-gamiphy-benefit-element>
      </div>
      <div class="col-md-2">
          <app-gamiphy-benefit-element
          [img-src]="'../../assets/imgs/group-12.svg'"
          [title]="'Reach'"
          [description]="'more audience'"></app-gamiphy-benefit-element>
      </div>
      <div class="col-md-2">
          <app-gamiphy-benefit-element 
          [img-src]="'../../assets/imgs/group-14.svg'"
          [title]="'EARN'"
          [description]="'your user’s loyalty'"></app-gamiphy-benefit-element>
      </div>
      <div class="col-md-2">
          <app-gamiphy-benefit-element
          [img-src]="'../../assets/imgs/group-17.svg'"
          [title]="'Analyze'"
          [description]="'your audience behavior '"></app-gamiphy-benefit-element>
      </div>
    </div>
  </div>
</div>