<div class="row">
  <div class="col-md-12">
    <app-header></app-header>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-slider [images]="images"></app-slider>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-gamiphy-elements></app-gamiphy-elements>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-benefits-section></app-benefits-section>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-gamiphy-section></app-gamiphy-section>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-how-it-works-section></app-how-it-works-section>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-footer></app-footer>
  </div>
</div>