.how-it-work-item-container {
    align-content: center;
    text-align: center;
    width: 180px;
    .image {

    }
    .text {
        padding-top: 2em;
        font-family: Roboto;
        font-size: 16px;
        color: #747d89;
    }
}
