/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.no-border .gamiphy-element-container{
    border: 0px !important;
}

@font-face {
    font-family: 'Gobold';
    src: url('assets/fonts/Gobold Bold.otf');
}

@font-face {
    font-family: 'GoExtra1';
    src: url('assets/fonts/Gobold Extra1.otf');
}