.contact-us-section-container {
    background-color: #f2f7ff;
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
    .title {
        font-family: Roboto;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 2.5px;
        color: #5f7086;
        text-transform: uppercase;
        padding-bottom: 1em;
    }
    .contact-us-form {
        margin: 0 auto;
        .send-btn {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            text-transform: uppercase;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .full-width {
        width: 100%;
    }
    .message-section {
        padding-top: 1em;
    }
}